<h1>Your information was saved.</h1>

<p>The picture caption is <%= %> </p>

<p>The picture URL is <%= %> </p>




<!-- How to pull new information that was added?  Something with the method in the controller? -->